* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    text-decoration: none;
    list-style: none;
}

input {
    background: none;
    appearance: none;
    border: 0;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding: 10px;
}

input::placeholder {
    color: rgb(224, 224, 224);
}

.bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

input:focus,
input:active {
  outline: none;
}

.main {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}